{% load static %}

<html>

<head>
    <title> Subplatform </title>

    <meta charset="utf-8" />

    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

    <a class="navbar-brand main-heading" href="{% url 'home' %}">

        &nbsp; Edenthought

    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">

            {% if user.is_authenticated %}

                {% if user.is_sub %}
                    <li class="nav-item">
                        <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'article:article-list' %}">Articles</a>
                    </li>
                {% endif %}


            <li class="nav-item">
                <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'article:article-create' %}">Create
                    article</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'article:my-articles' %}">My
                    articles</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-secondary navbar-btn" type="button"
                    href="{% url 'account:account-management' %}">Account management</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-light navbar-btn" type="button" href="{% url 'account:logout' %}">Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="btn btn-secondary navbar-btn" type="button" href="{% url 'account:register' %}">Register</a>
            </li>

            &nbsp; &nbsp; &nbsp;

            <li class="nav-item">
                <a class="btn btn-light navbar-btn" type="button" href="{% url 'account:login' %}">Login</a>
            </li>

            &nbsp; &nbsp; &nbsp;

            {% endif %}
        </ul>
    </div>
</nav>

</html>

{% block content %}
{% endblock %}